<nav class="navbar sticky-top navbar-dark bg-inverse" >
    <div class="container">
        <a class="navbar-item" routerLink="about">About</a>
        <a class="navbar-item" routerLink="documentation_mode">Doc Mode</a>
        <a class="navbar-item" routerLink="presentation_mode">Pres Mode</a>
        <a class="navbar-item" routerLink="login">Login</a>
        <a class="navbar-item" routerLink="register">Register</a>        
        <!-- <a class="navbar-item">Log-out</a> -->
        
    </div>
</nav>