markdown ::ng-deep p {
  margin-bottom: 0.625rem;
}

markdown ::ng-deep h3 {
  margin-top: 1rem;
}

markdown ::ng-deep h2 {
  margin-top: 2rem;
  border-bottom: solid 1px #c9c9c9;
  padding-bottom: 0.5rem;
}

markdown ::ng-deep table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}

markdown ::ng-deep table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

markdown ::ng-deep table > thead:first-child > tr:first-child > th {
  border-top: 0;
}

markdown ::ng-deep table > tfoot > tr > td,
markdown ::ng-deep table > tfoot > tr > th,
markdown ::ng-deep table > thead > tr > td, 
markdown ::ng-deep table > thead > tr > th {
  line-height: 1.5;
}


markdown ::ng-deep table > tbody > tr > td,
markdown ::ng-deep table > tbody > tr > th,
markdown ::ng-deep table > tfoot > tr > td,
markdown ::ng-deep table > tfoot > tr > th,
markdown ::ng-deep table > thead > tr > td,
markdown ::ng-deep table > thead > tr > th {
  line-height: 1.5;
  padding: 5px;
  vertical-align: top;
  border-top: 1px solid #ddd
}
